{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/review" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/input/macro.njk" import govukInput %}
        
        {% set textHtml %}
        {{ govukInput({
          name: "inputRadius",
          type: "text",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Number between 1 and 50"
          }
        }) }}
        {% endset -%}
        
        {{ govukRadios({
          name: "radiusSelection",
          value:data['radiusSelection'],
          fieldset: {
            legend: {
              text: "Which radius would you like to use?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "1",
              text: "1"
            },
            {
              value: "5",
              text: "5"
            },
            {
              value: "10",
              text: "10"
            },
            {
              value: "radius.html 50",
              text: "Enter-Radius",
              type: "text",
              conditional: {
                html: textHtml
              }
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
