{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Flood Station Asset Data
      </h1>

      <p>
        The Flood Station Asset Data is shown as a list of links below. Click on a link to find out more information about it.
      </p>

      <div id="dataDiv">

      </div>

    </div>
    <script>

      //getting URL parameters
      const urlParams = new URLSearchParams(window.location.search)
      const floodStationId = urlParams.get('flood-station-id')
      const searchRadius =urlParams.get('searchRadius')

      // Fetch data from your backend
      //`http://localhost:3000/fetch-assets-by-flood-station-id/E8980?radius=5`)

      fetch(`http://localhost:3000/fetch-assets-by-flood-station-id/${floodStationId}?radius=${searchRadius}`)
        .then(response => response.json()) // Parse the data as JSON
        .then(assetData => {
          // Now you have your data and you can use it in your frontend
          console.log(assetData);

          const dataDiv = document.getElementById('dataDiv');

          const assetDataTable = document.createElement('table');

          assetData.forEach(element => {
            const row = document.createElement('tr');
            const cell = document.createElement('td');

          //creating link and set its url to the item
          const link = document.createElement('a');
          link.href =element
          link.textContent =element
          
          //when a link is clicked a new tab will open
          link.target ="_blank"

          cell.appendChild(link);
          row.appendChild(cell);

          assetDataTable.appendChild(row);

          });
          // Display it in the 'dataDiv' div
          dataDiv.appendChild(assetDataTable);
        })
        .catch(error => console.error('Error:', error));

      const dataDiv = document.getElementById('dataDiv');
    
    </script>
    <script src="/BNG-API-FRONTEND/app/assets/javascripts/fetch-asset-data.js"></script>
    
  </div>


{% endblock %}
