{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/review" method="post">
        
        {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  name: "searchRadius",
  label: {
    text: "What is search radius around the flood station?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  classes: "govuk-input--width-10",
  hint: {
    text: "Any value from 1 to 50"
  } 
  ,
  suffix: {
    text: "km"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
