{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Flood Station id"
            },
            value: {
              text: data['flood-station-id']
            },
            actions: {
              items: [
                {
                  href: "/flood-station-question",
                  text: "Change",
                  visuallyHiddenText: "Question 1"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "Flood Station Radius"
            },
            value: {
              text: data['searchRadius']
            },
            actions: {
              items: [
                {
                  href: "/radius",
                  text: "Change",
                  visuallyHiddenText: "Question 2"
                }
              ]
            }
          }
   
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/asset-data" method="get" novalidate>
        <input type="hidden" name="flood-station-id" value="{{ data['flood-station-id'] }}">
        <input type="hidden" name="searchRadius" value="{{data['searchRadius']}}">
        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
